.Visual {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: calc(100vh - 90px);
	.txt-box {
		position: relative;
		width: 60%;
		height: 100%;
		padding-left: 15vw;
		ul {
			width: 100%;
			height: 100%;
			position: relative;
			li {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				flex-wrap: wrap;
				align-content: center;
				font-size: 3rem;
				opacity: 0;
				transform: scale(1.5);
				transition: opacity 1s, transform 1s;
				h3 {
					font-weight: normal;
					color: var(--baseColor);
				}
				&.on {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
	.swiper {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 10vw 0;
		.swiper-wrapper {
			height: inherit;
			.swiper-slide {
				width: 100%;
				height: inherit;
				.pic {
					position: relative;
					width: 100%;
					height: 100%;
					transform: scale(0.5);
					opacity: 0.4;
					transition: opacity 0.5s, transform 0.5s;
					> p {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						overflow: hidden;
						&:nth-of-type(1) {
							filter: blur(20px) saturate(1.2);
							transform: translate(30px, 30px);
							opacity: 0.7;
						}
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							transform: scale(1.4);
						}
					}
				}
				&-prev {
					.pic {
						transform: scale(1.5);
						opacity: 0;
					}
				}
				&-active {
					.pic {
						transform: scale(1);
						opacity: 1;
					}
				}
				&-next {
					.pic {
						transform: scale(0.7);
						opacity: 0.7;
					}
				}
			}
		}
	}
	.preview {
		> p {
			position: absolute;
			bottom: 5vh;
			width: 200px;
			height: 80px;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&.prev-box {
				left: 0;
			}
			&.next-box {
				right: 0;
			}
		}
	}
}
