.Layout {
	position: relative;
	width: 70vw;
	margin: 100px auto;
	padding-top: 200px;
	min-height: 60vh;
	opacity: 0;
	//transform-origin: left top;
	//transform: translateY(200px);
	transition: opacity 1s, padding 0.7s;

	h1 {
		font-size: 0;
		font-weight: normal;
		opacity: 0.5;
		margin-bottom: 10px;
		span {
			font-size: 5rem;
			transform: scale(4);
			opacity: 0;
			transition-property: opacity, transform;
		}
	}
	.btnTop {
		z-index: 6;
		position: fixed;
		top: 40%;
		right: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		background: var(--baseColor);
		color: var(--bgColor);
		border: none;
		cursor: pointer;
	}
	.bar {
		width: 50px;
		height: 1px;
		background: var(--baseColor);
		opacity: 0.7;
		margin-bottom: 100px;
	}

	&.on {
		padding-top: 0;
		opacity: 1;
		//transform: translateY(0px);
		h1 {
			span {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}

// media-query
.tablet {
	.Layout {
		width: 80vw;
		margin: 80px auto;
	}
}
