.Department {
	.historyBox {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 200px;
		h2 {
			width: 20%;
			font-size: 2rem;
			font-weight: normal;
			opacity: 0.8;
		}
		.con {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 75%;
			padding-left: 80px;
			border-left: 1px solid transparent;
			border-image: radial-gradient(rgba(var(--baseColor-code), 0.2) 90%, transparent) 1;
			article {
				width: 100%;
				margin-bottom: 50px;
				h3 {
					font-weight: bold;
					font-size: 1.4rem;
					opacity: 0.8;
					margin-bottom: 10px;
				}
			}
		}
	}

	.memberBox {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		h2 {
			width: 20%;
			font-size: 2rem;
			font-weight: normal;
			opacity: 0.8;
		}
		.con {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 75%;
			padding-left: 80px;
			border-left: 1px solid transparent;
			border-image: radial-gradient(rgba(var(--baseColor-code), 0.2) 90%, transparent) 1;
			article {
				width: 31%;
				margin-bottom: 50px;
				.pic {
					width: 100%;
					height: 300px;
					margin-bottom: 10px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				h3 {
					font-weight: bold;
					font-size: 1.4rem;
					opacity: 0.8;
					margin-bottom: 10px;
				}
			}
		}
	}
}

// media-query
/*
	// laptop
	.laptop {
		.Department {
			.memberBox {
				article {
					width: 46%;
				}
			}
		}
	}
*/

// tablet
.tablet,
.mobile {
	.Department {
		.historyBox {
			margin-bottom: 80px;
			h2 {
				width: 100%;
				margin-bottom: 60px;
			}
			.con {
				width: 100%;
				padding-left: 0;
				border-left: none;
			}
		}
		.memberBox {
			h2 {
				width: 100%;
				margin-bottom: 60px;
			}
			.con {
				width: 100%;
				padding-left: 0;
				border-left: none;
			}
		}
	}
}

// mobile
.mobile {
	.Department {
		.memberBox {
			.con {
				article {
					width: 100%;
				}
			}
		}
	}
}

/*
	- 리액트에서 스타일 관련 이슈
		1. 리액트는 컴포넌트 단위로 파일을 쪼개기 때문에 그에 따라 style.scss 파일도 많아짐
		2. 따라서 효율적인 유지보수를 위해서 공통으로 관리될 값들을 Variable.scss에 css변수로 관리함
		3. 이때 scss변수($)가 아닌 css변수(var)를 사용하는 이유
		4. scss변수는 sass loader에 의해서 초기 컴파일 될때의 값이 static하게 고정됨
		5. 리액트에서 이벤트 발생시 scss변수는 변수의 값을 실시간으로 변경 불가능 

	- 스타일의 속성이 아닌 브라우저가 인지해야하는 미디어쿼리 구문의 디바이스폭은 css변수가 처리못함
	- 따라서 미디어쿼리 디바이스폭 구문만 컴파일시 브라우저가 해석할 수 있는 scss변수로 적용
	- 이때 발생하는 이슈: scss변수를 읽기 위해서는 각 scss파일에서 일일이 Variable.scss를 import처리해야하는 불편함이 생김
*/
