.Pics {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 10vw;
	background-color: lightblue;
	overflow: hidden;
	.tit {
		font-size: 8rem;
		color: var(--baseColor);
	}
	.tit2 {
		font-size: 6rem;
		color: var(--pointColor);
	}
}
